.App {
  text-align: center;
  background:rgb(112, 210, 255);
}
body
{
background-color: rgb(0, 65, 126);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

